name: Deploy Production

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # Создаем папку если нет
            mkdir -p /app/poll-project
            cd /app/poll-project
            
            # Если репо еще нет - клонируем, если есть - пулим
            if [ ! -d ".git" ]; then
              git clone git@github.com:AlexeyLars/surway.git .
            else
              git pull origin main
            fi

            docker compose -f docker-compose.prod.yml up -d --build --remove-orphans
            
            docker image prune -f